/* Style The Dropdown Button */
.dropbtn {
    background-color: inherit;
    color: $heder-pozadina;
    font-size: $fontSize-nav;
    font-weight: 300;
    font-family: $textNav;
    border: none;
    cursor: pointer;
    padding: .8rem 0;
    // background-color: #999999;
    height: 5rem;

    outline: none;
}


.dropbtn:hover {
    color: #ffffff;
    /* animatin and styling */
    animation: load 1s forwards;
    display: block;
    border-left: 1px dotted $heder-pozadina;
    border-right: 1px dotted $heder-pozadina;
    border-radius: 0;
    margin-left: 0px;
    padding-right: 0;


}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-left {
    padding-left: 1.5rem;
    margin: 0;
    // margin-top: 10px;
    display: none;
    position: absolute;
    background-color: unset;
    min-width: 21rem;
    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    // border-radius: 3px;
    font-size: 1.25rem;
    font-weight: lighter;
    font-family: var(--fontfamiy2);
    color: #ffffff;

    // padding-top: 5px;

    .dropdown__content__extra__space {
        height: 2px;
        opacity: 0;
    }
}

.dropdown-content-right {
    padding-left: 1.5rem;
    margin: 0;
    // margin-top: 10px;
    display: none;
    position: absolute;
    background-color: unset;
    min-width: 21rem;
    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    // border-radius: 3px;
    font-size: 1.25rem;
    font-weight: lighter;
    font-family: var(--fontfamiy2);
    color: #ffffff;

    .dropdown__content__extra__space {
        height: 2px;
        opacity: 0;
        // background-color: red
    }

    h2 {
        color: $heder-pozadina;
    }

    // pokusaj razmaka
    // button {
    //     margin: 0 4px;
    // }
}

.dropdown-content-right a:hover {
    h2 {
        color: #870000;
    }

}

.container__right>ul>li .dropdown .dropdown-content-right a {
    text-align: end;
}

.dropdown-content-dostava {
    padding-left: 0rem;
    right: -5.3rem;
}

.dropdown-content-vesti {
    padding-left: 0rem;
    right: 0rem;
}

.dropdown-content-rezervacija {
    padding-left: 0rem;
    right: -5.3rem;
}

.dropdown-content-kontakt {
    padding-left: 0rem;
    right: -3rem;
}


/* Links inside the dropdown */
.dropdown-content-left a {
    font-family: $textHeder;
    font-weight: 200;
    color: $heder-pozadina;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: $bela;
    transform: translateX(20px);
    border-left: 25px solid $heder-pozadina;
    /* --------animating-styling dropdown */
    opacity: 0;
    animation: load 1s forwards;
    display: block;
}

.dropdown-content-right a {
    font-family: $textHeder;
    font-weight: 200;
    color: $heder-pozadina;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: $bela;
    // border-radius: 4px;
    transform: translateX(20px);
    border-left: 0;
    border-right: 25px solid $heder-pozadina;
    // margin-bottom: 3px;
    /* --------animating-styling dropdown */
    opacity: 0;
    animation: load 1s forwards;
    display: block;
}

body>nav>div>div.container__left>ul>li:nth-child(1)>div>div {
    font-weight: 200;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    // background-color: $heder-pozadina;
    color: #870000;
    border-left: 25px solid #870000;
    font-weight: 200;
    /* ---------animating-styling dropdown */
    animation: load 1s forwards;
    display: block;
}

.dropdown-content-right a:hover {
    // background-color: $heder-pozadina;
    color: #870000;
    border-left: 0;
    border-right: 25px solid #870000;
    font-weight: 200;
    /* ---------animating-styling dropdown */
    animation: load .2s forwards;
    display: block;
}

.dropdown-content a:first-child {
    animation-delay: 0s;
}

.dropdown-content a:nth-child(2) {
    animation-delay: 0.1s;
}

.dropdown-content a:nth-child(3) {
    animation-delay: 0.2s;
}

.dropdown-content a:nth-child(4) {
    animation-delay: 0.3s;
}


@keyframes load {
    0% {
        transform: translateY(-5px) scale(1.1);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    padding-top: 5px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--hover);
}