$primary-color: #444;
$border: #eeeeee;
$heder-pozadina: #86754d;
$bela: #ffffff;
$bojaTexta-slider: #f4f3f3;
$paragraf: #968765;
$restoran-h: #86754d;
$ul-restoran: #554d4a;
$textNav: 'Raleway',
'sans-serif';
$textHeder: 'Roboto',
'sans-serif';
$fontSize-heder: 15px;
$fontSize-nav: 18px;